@media only screen and (max-width: 768px) {
    .jumbotron {

        div.titles {
            h1 {
                font-size: 1.2rem;
            }
            p {
                display: none;
            }
        }
    }
}