<div class="jumbotron d-flex mb-0 py-3 px-0">
        <img src="./assets/images/logo-left.svg" width="120" height="100" alt="logo amsterdam">
    <div class="d-flex flex-column w-100 justify-content-center align-items-center my-3 titles">
        <h1 class="mb-3">Amsterdam Events</h1>
        <p class="m-0">Offered to you by <a target="_blank" href="https://hva.nl">the Amsterdam University of Applied Sciences.</a></p>
        <p class="m-0">Today is <b>{{ date }}</b></p>
    </div>
        <img src="./assets/images/logo-right.png" width="120" height="100" alt="logo hva">
</div>
