div.img-wrapper a {
    transition: all 200ms ease;

    img.img-thumbnail {
        transition: all 200ms ease;
    
        &:hover {
            transform: translateY(-12px);
        }
    }
    
    &:focus {
        transform: translateY(-12px);
    }
}