<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">Pick a date</h3>
            <form action="">
              <input type="date" name="" id="" placeholder="dd/mm/yyyy">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">Pick a category</h3>
            <ul>
              <li>
                <a href="#">Sports</a>
              </li>
              <li> <a href="#">Markets</a>
              </li>
              <li> <a href="#">Festivals</a>
              </li>
              <li> <a href="#">Musea</a>
              </li>
              <li> <a href="#">Celebrations</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-8">
      <div class="container-fluid">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Events today</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="#">
              <img class="img-fluid img-thumbnail" src="./assets/images/palmBomen.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="#">
              <img class="img-fluid img-thumbnail" src="./assets/images/freerun.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/boom.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/zwem.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">  
              <img class="img-fluid img-thumbnail" src="./assets/images/zee.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/duinen.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/bergen.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/surven.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/skaten.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/waves.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/dessert.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mb-4 img-wrapper">
            <a href="">
              <img class="img-fluid img-thumbnail" src="./assets/images/mountains.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">RAI millionaire fair</h3>
      <p>The RAI will have its annual 'millionaire fair' in the Europe complex hall 1. Here you find gadgets that only
        millionairs can afford. But you don't have to be a millionare to look around and be impressed</p>
      <p><b>Location:</b> Europaplein 22<br><b>Entrance fee:</b> &euro;10</p>
    </div>
  </div>
</div>
