<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">List of all events.</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Status</th>
            <th scope="col">Entrance Fee</th>
            <th scope="col">Max Participants</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aEvent of aEvents">
            <td scope="row"><b>{{ aEvent.getId }}</b></td>
            <td>{{ aEvent.getTitle }}</td>
            <td>{{ aEvent.getStart.toDateString() }}, {{ aEvent.getStart.getHours() }}:{{ aEvent.getStart.getMinutes() }}</td>
            <td>{{ aEvent.getEnd.toDateString() }}, {{ aEvent.getEnd.getHours() }}:{{ aEvent.getStart.getMinutes() }}</td>
            <td>{{ aEvent.getStatus }}</td>
            <td *ngIf="aEvent.getIsTicketed; else elseBlock">&euro; {{ aEvent.getFee }}</td>
            <ng-template #elseBlock>
              <td>Free</td>
            </ng-template>
            <td>{{ aEvent.getMaxParticipants }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 offset-md-10  d-flex flex-row-reverse">
      <button class="btn btn-outline-primary" (click)="addRandomEvent()">Add Event</button>
    </div>
  </div>
</div>
