<form (ngSubmit)="submitForm()"
      #editForm="ngForm"
      (keydown.enter)="$event.preventDefault()">

  <h3>Selected event details: {{aEvent.getId}}</h3>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp"  name="title" required minlength="5"
          ngModel  [ngModel]="aEvent.getTitle" (ngModelChange)="aEvent.setTitle = $event">
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea type="text" class="form-control" id="inputDescription" name="description"
              ngModel [ngModel]="aEvent.getDescription" (ngModelChange)="aEvent.setDescription = $event"></textarea>
  </div>
  <div class="form-group">
    <label for="inputFee">Participation fee</label>
    <input type="number" class="form-control" id="inputFee" name="participationFee" ngModel [ngModel]="aEvent.getFee" (ngModelChange)="aEvent.setFee = $event">
  </div>

  <div class="form-group">
    <label for="inputParticipants">Max participants</label>
    <input type="text" class="form-control" id="inputParticipants" name="maxParticipants"
           ngModel [ngModel]="aEvent.getMaxParticipants" (ngModelChange)="aEvent.setMaxParticipants = $event">
  </div>
  <div class="form-group">
    <label for="selectStatus">Status</label>
    <select class="form-control" name="status" id="selectStatus" (ngModelChange)="aEvent.setStatus = $event"
            ngModel [ngModel]="aEvent.getStatus">
      <option *ngFor="let status of statuses" [ngValue]="status | uppercase"
              [selected]="(status | uppercase) == aEvent.getStatus ? true: false">{{ status | uppercase }}</option>
    </select>
  </div>
  <div class="form-check">
    <input type="checkbox" name="isTicketed" class="form-check-input" id="checkIsTicketed"
           ngModel [ngModel]="aEvent.getIsTicketed" (ngModelChange)="aEvent.setIsTicketed = $event">
    <label class="form-check-label" for="checkIsTicketed">Is Ticketed?</label>
  </div>
  <div class="button-group">
    <button type="button" class="btn btn-danger mt-2" (click)="delete()">Delete Event</button>
<!--    <button type="button" class="btn btn-success mt-2" (click)="save()">Save Event</button>-->
    <button type="submit" class="btn btn-success mt-2" (click)="save()">Save Event</button>
    <button type="button" class="btn btn-warning mt-2" (click)="clear()">Clear Event</button>
    <button type="button" class="btn btn-warning mt-2" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-primary mt-2" (click)="cancel()">Cancel</button>
  </div>

</form>

