<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          My Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="events/overview-1">All events list</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="events/overview-2">M/D (component-store)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="events/overview-3">M/D (from service)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="events/overview-4">M/D (routerparams)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="events/overview-5">M/D (spring boot)</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          My Registrations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Active</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">History</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My account</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="user/signup">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Log in</a>
      </li>
    </ul>
  </div>
</nav>
