<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">List of all events.</h3>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li *ngFor="let aEvent of aEvents" class="list-group-item list-group-item-action" (click)="showDetails(aEvent)" [ngClass]="{'active': SelectedAEvent === aEvent}">{{ aEvent.getTitle }}</li>
      </ul>
      <button class="btn btn-outline-primary mt-2" (click)="addRandomEvent()">Add Event</button>
    </div>
    <div class="col-md-9">
      <p *ngIf="SelectedAEvent == null; else elseBlock">Select an event at the left.</p>
    </div>
    <ng-template #elseBlock>
      <div class="col-md-6 offset-md-3">
        <app-detail2 [aEvent]="SelectedAEvent" (AEventChange)="remove($event)"></app-detail2>
      </div>
    </ng-template>
  </div>
</div>
