<div class="container">
    <div class="row mt-3">
        <div class="col-md-8">
            <b>An error has occured!</b>
            <p>There is no known function for route "{{ url }}" at the end of your URL</p>
        </div>
    </div>
</div>