<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-weight-light text-center text-lg-left mt-4 mb-2">List of all events.</h3>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li *ngFor="let aEvent of aEventService.findAll()" class="list-group-item list-group-item-action" (click)="onSelect(aEvent.getId)" [ngClass]="{'active': selectedAEventId === aEvent.getId}">{{ aEvent.getTitle }}</li>
      </ul>
      <button class="btn btn-outline-primary mt-2" (click)="aEventService.addRandomEvent()">Add Event</button>
    </div>
    <div class="col-md-9">
      <p *ngIf="selectedAEventId == -1; else elseBlock">Select an event at the left.</p>
    </div>
    <ng-template #elseBlock>
      <div class="col-md-9 offset-md-3">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
</div>
      